@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  body {
    @apply bg-gray-50 text-gray-600 dark:bg-slate-900 dark:text-gray-100;
    @apply min-h-screen;
  }

  ::selection {
    @apply text-white bg-slate-400;
  }

  
  .btn{
    @apply inline-block px-5 py-3 rounded-lg hover:bg-slate-400 transition duration-300 shadow-lg bg-cyan-400 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-cyan-400 focus:ring-opacity-50 whitespace-nowrap
  }
}

@font-face {
  font-family: 'myfont';
  font-style: normal;
  font-weight: 100;
  src: local(''), url('/fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'myfont';
  font-style: semibold;
  font-weight: 400;
  src: local(''), url('/fonts/OpenSans-SemiBold.woff') format('woff');
}
